<ul class="sidebar p-2"  [class.hide]="hide">
  <div class="options">
    <i
      class="fa fa-window-close cursor-pointer"
      aria-hidden="true"
      (click)="toggleHide()"
    ></i>
  </div>
  <div class="avatar_container mt-3">
      <img src="https://www.w3schools.com/howto/img_avatar2.png" >
      <br>
      <p>Nombre de usuario</p>
    </div>
    <li class="cursor-pointer item-menu mt-5">Pagina Principal</li>
    <li class="cursor-pointer item-menu">Usuarios</li>
    <li class="cursor-pointer item-menu">Contacto</li>
    <li class="cursor-pointer item-menu">Acerca de </li>

</ul>

